body {
  background: #f5d9df;
  font-family: "Nunito", sans-serif;
}

/* -- NAVBAR -------------------------------------------------------------*/

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}

#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}

#mainNavbar .navbar-brand {
  color: #ea1c2c;
}

#mainNavbar span {
  color: white;
}

.navbar.scrolled {
  background: rgb(222, 192, 222);
  transition: background 500ms;
}

/* -- HEADER -------------------------------------------------------------*/

#headingGroup span {
  color: #ea1c2c;
}

#headingGroup h2 {
  font-weight: 100;
  font-size: 3rem;
}

@media (max-width: 1300px) {
  #headingGroup h2 {
    font-weight: 100;
    font-size: 2rem;
  }
}

/* -- ARTICLES -------------------------------------------------------------*/

.blurb h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}

.blurb p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

.content {
  margin-top: 100px;
  margin-bottom: 100px;
}

#screenshot {
  position: relative;
  margin-top: -80%;
  margin-left: 5px;
  margin-right: 5px;

  width: 95%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.title {
  color: white;
  font-weight: 100;
  font-size: 2.5rem;
  font-weight: 100;
  font-size: 3rem;
}

#mypic {
  position: relative;
  margin-top: -140%;
  margin-left: 5px;
  margin-right: 5px;
  width: 90%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.icons1 {
  height: 100px;
  margin-left: -50px;
}
.icons2 {
  height: 70px;
  margin-left: -30px;
}
.icons3 {
  height: 80px;
  margin-left: -115px;
}
.icons4 {
  height: 75px;
  margin-left: -130px;
}
.icons5 {
  height: 80px;
  margin-left: 20px;
}

.github {
  margin-left: -30px;
}
